/* COMMON */

html{height: 6000px;}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #555;
    font-family: 'pretendard', sans-serif;
}
a{
    text-decoration: none;
    color: #555;
    display: block;
}

.Sdream{
    font-family: 'SCoreDream','pretendard', sans-serif;
}
.inner{width: 1100px; margin: 0 auto;}
.inner h1{
    color: #333;
    font-size: 42px;
    letter-spacing: -2.3px;
    font-weight: 400;
}
.inner h1 strong{
    color: #333;
    font-weight: 700;
}

/* header */

header{
    width: 100%;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
}
.headerWrap{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerWrap .logo{
    width: 135px;
    height: 70px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{padding: 0 25px;}
nav ul li a{font-size: 18px;}
nav ul li:last-child a{ 
    background-color: #0055ff;
    color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
}


/* mainVisual */

.mainVisual{
    width: 100%;
    height: 800px;
    border-radius: 0 0 50px 0;
    position: relative;
    overflow: hidden;
}
.mainVisual .swiper{
    width: 100%;
    height: 800px;
}
.mainVisual .swiper-wrapper{
    width: 100%;
    height: 800px;
}
.mainVisual .swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainVisual .swiper-pagination{
    width: 100px;
    left: 80%;
    bottom: 160px;
}
.sl02_ico{
    position: absolute;
    width: 500px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.heart{
    position: absolute;
    display: block;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
}
.bubble{
    position: absolute;
    display: block;
    width: 160px;
    left: 50%;
    transform: translateX(-50%);
    top: 115px;
    margin-left: -8px;
}
.car{
    position: absolute;
    display: block;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
}
.main_tit{
    position: absolute;
    display: block;
    width: 380px;
    left: 50%;
    transform: translateX(-50%);
    top: 265px;
}
.start{
    position: absolute;
    display: block;
    width: 165px;
    left: 50%;
    transform: translateX(-50%);
    top: 475px;
    animation: start 0.5s step-end infinite;
}
@keyframes start {
    50% {
        box-shadow: 1px 1px 0 rgb(0, 0, 0, 0);
        position: relative;
        top: 477px;
    }
}

/* main container */

.mainMenu{
    width: 1300px;
    height: 255px;
    background-color: #0055ff;
    position: absolute;
    border-radius: 15px;
    padding: 50px;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: 0 0 45px rgb(0 85 255 / 30%);
}
.mainMenu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.mainMenu ul li{
    width: calc(100%/6 - 20px);
    display: block;
    text-align: center;
    justify-content: center;
}
.mainMenu ul li p{
    display: block;
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
}
.mainMenu ul li p span{
    display: block;
    color: #9ad8ff;
    margin: 8px 0;
    font-size: 15px;
}
.mainMenu ul li img{
    width: 110px;
    height: 100px;
}

/*  */

.estimate {
    padding: 250px 0 150px;
    display: flex;
    justify-content: space-between;
}
.estimate h1{margin-bottom: 40px;}
.el_row{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.el_row h2{
    font-size: 20px;
    color: #333;
    padding: 0 20px;
}
.el_row .el_p0{padding-left: 0;}

/* IE */
select::-ms-expand { 
	display: none;
}
.el_row .selectBox{
    width: 200px;
    height: 35px;
    background: url('../img/select_arrow.svg') calc(100% - 10px) center no-repeat;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 25px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #0055ff;
    outline: 0 none;
    color: #0055ff;
    font-size: 20px;
    font-weight: bold;
}
.el_btn button{
    width: 265px;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #0055ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.el_btn .reset{
    background-color: #999;
    margin-left: 20px;
}
.estimate_right{
    width: 500px;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 60px;
}
.er_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.er_left li{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 35px;
}
.er_right li{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 27px;
    color: #333;
}
.er_price{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.er_price p{
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.er_price strong{
    font-size: 30px;
    font-weight: bold;
    color: #0055ff;
    padding: 0 5px;
}
.er_price::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 40px;
    left: 0;
    background-color: #ccc;
}

/*  */

.con{
    margin-bottom: 200px;
}
.con01{
    position: relative;
    margin-top: 180px;
}
.con01::before{
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: #f9f9f9;
    z-index: -9;
    top: -180px;
    left: 0;
}
.mainCon .inner{
    display: flex;
    justify-content: space-between;
}
.con_txt p{
    color: #0055ff;
    font-size: 18px;
    padding: 20px 0;
}
.con_txt a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #0055ff;
    margin-top: 30px;
}
.con_txt span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con_txt span img{
    width: 25px; 
    height: 25px;
}
.con_img{
    width: 600px;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
}
.con_img img{
    width: 100%;
    height: auto;
}
.con02 .inner{
    display: flex;
    justify-content: space-between;
}